/*
* Dracula Color Scheme
* */

:root {
	--background: #282a36;
	--bg: var(--background);
	--current-line: #44475a;
	--cl: var(--current-line);
	--foreground: #f8f8f2;
	--fg: var(--foreground);
	--comment: #6272a4;
	--cm: var(--comment);
	--cyan: #8be9fd;
	--cc: var(--cyan);
	--green: #50fa7b;
	--cg: var(--green);
	--orange: #ffb86c;
	--co: var(--orange);
	--pink: #ff79c6;
	--cp: var(--pink);
	--purple: #bd93f9;
	--cpu: var(--purple);
	--red: #ff5555;
	--cr: var(--red);
	--yellow: #f1fa8c;
	--cy: var(--yellow);
}

html {
	margin: 0;
}

body {
	background: pink;
	/* background-color: var(--cr) */
}
